@model IItemColorListModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/CreateLayout.cshtml";
}

<h1>List</h1>

<body>

@*    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Renk 1</th>
                <th scope="col">Renk 2</th>
                <th scope="col">Renk 3</th>
                <th scope="col">Renk 4</th>
                <th scope="col">Renk 5</th>
                <th scope="col">Renk 6</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ItemColors)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@item.Color1</td>
                    <td>@item.Color2</td>
                    <td>@item.Color3</td>
                    <td>@item.Color4</td>
                    <td>@item.Color5</td>
                    <td>@item.Color6</td>                                   
                </tr>
            }
        </tbody>
    </table>*@
</body>


