@model BodyListModel
@{
    ViewData["Title"] = "BodyList";
    Layout = "~/Views/Shared/CreateLayout.cshtml";
}

<body>

  @*  <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
                <th scope="col">XS</th>
                <th scope="col">XL</th>
                <th scope="col">XXL</th>
                <th scope="col">Ürün Seç</th>

              

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.bodySizes)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@item.S</td>
                    <td>@item.M</td>
                    <td>@item.L</td>
                    <td>@item.XS</td>
                    <td>@item.XL</td>
                    <td>@item.XXL</td>   
                   
                </tr>
            }
        </tbody>
    </table>*@
</body>
